*{
  margin: 0;
  padding: 0;
 }
.App {
  background-image: url(Img/WeatherCloudy.jpg);
  background-position: 0%;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-size:120%;
  scale: 1;
}

.widgets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.widget {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}
.text{
  padding-left: 30%;
}
.search{
  padding-left: 40%;
}


input[type='text'] {
  margin-right: 10px;
}
