.App {
  padding: 20px;
}

.widgets {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.widget {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #eee;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
}

input[type='text'] {
  margin-right: 10px;
}
